.containerTabela {
    display: none;
}

@media screen and (min-device-width: 620px) {
    .containerTabela {
        display: block;
        margin-bottom: 163px;
        margin-top: 31px;
        width: 100%;
    }

    table {
        border-collapse: collapse;
        color: var(--cinza-3);
        width: 100%;
    }

    table th {
        border: 4px solid var(--cor-primaria);
        font-size: 1.875rem;
        font-weight: 400;
        padding-left: 6px;
        text-align: left;
    }

    table th:last-child {
        text-align: center;
        width: 215px;
    }

    table td {
        font-size: 1.475rem;
        border: 2px solid var(--preto-1);
        padding-left: 6px;
        font-weight: 300;
    }

    table td:last-child {
        border-bottom: none;
        border-left: none;
        border-top: none;
        display: flex;
        justify-content: space-around;
    }

    .botaoEditar, .botaoExcluir {
        background-color: transparent;
        border: none;
        color: var(--cinza-3);
        cursor: pointer;
        font-size: 1.475rem;
        font-weight: 300;
        transition: all .3s;
    }

    .botaoEditar:hover, .botaoExcluir:hover {
        color: var(--cor-primaria);
        opacity: .9;
        text-decoration: underline;
        transform: scale(1.05);
    }

    table tbody {
        border-bottom: 4px solid var(--cor-primaria);
        border-left: 4px solid var(--cor-primaria);
        border-right: 4px solid var(--cor-primaria);
    }

    table tr {
        border: 3px solid var(--preto-1);
    }
}

@media screen and (min-device-width: 920px) {
    table th {
        font-size: 2.1875rem;
    }

    table td {
        font-size: 1.6875rem;
    }

    .botaoEditar, .botaoExcluir {
        font-size: 1.6875rem;
    }
}