.tituloCategoria {
    margin-left: 17px;
}

.tituloCategoria h2 {
    border-radius: 2px;
    font-size: .75rem;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 24px;
    padding: 5px 10px;
    width: fit-content;
}

.tituloCategoria p {
    font-size: .75rem;
    font-weight: 300;
    margin-bottom: 9px;
}

@media screen and (min-device-width: 920px) {
    .tituloCategoria h2 {
        border-radius: 4px;
        font-size: 1.75rem;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 5px 20px;
    }

    .tituloCategoria p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 5px;
    }
}

@media screen and (min-device-width: 1280px) {
    .tituloCategoria {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        order: 3;
        width: 100%;
    }
    
    .tituloCategoria h2 {
        font-size: 2.75rem;
        margin-top: 50px;
        order: -1;
    }

    .tituloCategoria p {
        font-size: 2.875rem;
        font-weight: 400;
        margin-bottom: 9px;
        order:-1;
    }
}