.rodape {
    align-items: center;
    border-top: 2px solid var(--cor-primaria);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.rodape p {
    color: var(--cinza-3);
    font-size: 1.125rem;
    font-weight: 300;
    padding-bottom: 20px;
    text-align: center;
}

.logotipo {
    height: 28.5px;
    width: 120px;
}

.destaque {
    color: var(--cor-primaria);
    font-weight: 700;
}

.rodape.inicio {
    display: none;
}

@media screen and (min-device-width: 600px) {
    .rodape {
        gap: 10px;
        padding-bottom: 0;
    }

    .logotipo {
        height: 60px;
        width: 253px;
    }

    .rodape.inicio {
        display: flex;        
    }

    .destaque a {
        color: var(--cor-primaria);
    } 

    .destaque a:hover {
        color: var(--cor-primaria-hover-scroll);
    }
}