.card-videos img {
    border: 2px solid;
    border-radius: 4px;
    width: 100%;
}

.card-video-inicio img {
    display: none;
}

@media screen and (min-device-width: 600px) {
    .card-videos img {
        border: 4px solid;
        width: 100%;
    }

    .card-video-inicio {
        display: flex;
        justify-content: flex-end;
        order: 2;
        width: 100%;
    }

    .card-video-inicio img {
        border: 4px solid;
        border-radius: 4px;
        display: block;
        object-fit: cover;
        width: 100%;
    }
}

@media screen and (min-device-width: 1280px) {
    .card-videos img {
        border: 4px solid;
        width: 100%;
    }

    .card-video-inicio img {
        border: 4px solid;
        border-radius: 4px;
        display: block;
        height: 333px;
        object-fit: cover;
        width: 646px;
    }
}