.container-inicio {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
}

.carrossel-inicio {
    margin-left: 17px;
}

@media screen and (min-device-width: 600px) {
    .container-inicio  {
        margin-bottom: 100px;
    }

    .carrossel-inicio {
        margin-top: 10px;
    }
}

@media screen and (min-device-width: 1280px) {
    .carrossel-inicio {
        margin-left: 40px;
    }
}